*.pyc
*.ipynb
.ipynb_checkpoints
data/
data_d/
simple-sat/
*.or
*.o
minisat2/core/minisat_release
*.txt

data*
models/
server_data/
.DS_Store
configuration_*

glucose-syrup-4.1/simp/glucose_release
glucose-syrup-4.1/simp/depend.mk
